p.menu{
      background: #808080;
      border: 0px;
      padding: 15px;
      margin:0px;

}

a.buttons {
      text-decoration: none;
      padding: 15px;
      margin:0px;
      cursor: pointer;
      font-weight: bold;
      font-size: 100%;
      color: #fff;
      background: #808080;
      border: 0px;
      transition:0.5s;
      
}
a.buttons:hover {
      background: #A9A9A9;
      transition: 0.5s;
      border: 0px;
      text-shadow: 1px 1px 1px #fff;
}

a.connection {
      text-decoration: none;
      padding: 15px;
      margin:0px;
      cursor: pointer;
      font-weight: bold;
      font-size: 100%;
      color: #fff;
      background: #808080;
      border: 0px;
      transition:0.5s;
      position:fixed;
      right:0;
      top:8px;
      
}
a.connection:hover {
      background: #A9A9A9;
      transition: 0.5s;
      border: 0px;
      text-shadow: 1px 1px 1px #fff;
}